<h1>Kittens#edit</h1>
<div>
<%= render "form", kitten: @kitten %>
</div>
<div>
    <%= link_to "Destroy Kitten", kitten_path(@kitten), data: { turbo_method: :delete, confirm: 'Are you sure?' } %>
</div>
<div>
<%= link_to "Home", root_path %>
</div>